<ion-header>
  <ion-navbar>
    <ion-title>
        {{name}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <button type="button" class="btn btn-info" (click)='onClick()'>Click Me</button>
</ion-content>
