<ion-header>
  <ion-navbar>
    <ion-title>Posts</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Posts from API</h2>
<div *ngFor="let post of posts" class="jumbotron">
<h5>{{post.title}}</h5>
<p>{{post.body}}</p>
</div>
</ion-content>
